/* report.scss
.landingpage {
    display: grid;
    gap: 1em 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box.project {
    grid-column: span 3;
}

.technologies-box:hover {
    box-shadow: 10px 10px 5px 0px rgba[0, 0, 0, 0.2];
}

*/
