<div class="sidebar">
<h1>Technologies</h1>
<h2><a href="css">Css</a> <br>
<a href="html">HTML</a><br>
<a href="javascript">Javascript</a><br>
<a href="php">PHP</a><br>
<a href="python">Python</a><br>
<a href="git">Git</a><br>
<a href="sqlite">SQLite</a></h2>
</div>