$font-color: #111;
$font-alternative-color: #fff;
$accent-color: #718276;
$background-color: #435648;
$background-alternative-color: #bacdbf;

$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;
